[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[packages]
requests = "*"
lxml = "*"
ipdb = "*"
slacker = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.6"
